extends _layout.pug
block variables
    - var currentPage = "home."
    - var sectionClass = "promo"

block content
    .promo__banner
        h1.promo__title Hello
        p.promo__text My name is Rafi. I am a Graphic Designer, and this is my online space to showcase my works.
        button.promo__btn see my works
            
        
    .promo__descr
        | Pixelatic’s Blog Update: 
        span.promo__descr-sub Complete Guide to Blog Advertising
        a(href="#").promo__descr-link http://bit.ly/bINts7